doctype html
html(lang='ru')
  include ./partials/_head.pug


  body
    .wrapper.wrapper--nobackground
      include ./partials/_header-admin.pug
      block content
      include ./partials/_footer.pug

    //- script(src="/js/vendor.js")
    //- script(src="/js/main.js")
